[submodule "3rd_parties/vim-colors-solarized"]
	path = 3rd_parties/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "3rd_parties/vim-pathogen"]
	path = 3rd_parties/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "3rd_parties/vim-fugitive"]
	path = 3rd_parties/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "3rd_parties/delimitMate"]
	path = 3rd_parties/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "3rd_parties/supertab"]
	path = 3rd_parties/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "3rd_parties/nerdtree"]
	path = 3rd_parties/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "3rd_parties/html5-syntax"]
	path = 3rd_parties/html5-syntax
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "3rd_parties/vim-cpp-enhanced-highlight"]
	path = 3rd_parties/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "3rd_parties/vim-texlog"]
	path = 3rd_parties/vim-texlog
	url = git://github.com/glts/vim-texlog.git
[submodule "3rd_parties/vim-hybrid"]
	path = 3rd_parties/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
