doc/tags
.netrwhist
.vimbackup
.DS_Store
.vimswap
3rd_parties-enabled/*

!3rd_parties-enabled/.keep
!3rd_parties-enabled/gruvbox
!3rd_parties-enabled/ayu-vim
!3rd_parties-enabled/papercolor-theme
!3rd_parties-enabled/syntastic
!3rd_parties-enabled/vim-fugitive

